#### COMPANION WORKBOOK

# Pandas

To make the most out this program, we strongly recommend you to:
1. First practice writing and implementing all of the code from Coding Section of the online lesson.
2. Then, freely experiment with and explore any interesting or confusing concepts. Simply insert new code cells and then use the help of Google and official documentation.
3. Finally, tackle all of the exercises at the end. They will help you tie everything together and **learn in context.**

#### <span style="color:#555">LESSON CODE SANDBOX</span>

Use this space to practice writing and implementing all of the code from Coding Section of the online lesson. Insert new code cells as needed, and feel free to write notes to yourself in Markdown.

## I. Pandas DataFrames are like spreadsheets.

In [1]:
import pandas as pd

In [3]:
example_dataframe = pd.DataFrame({
        'column_1' : [5, 4, 3],
        'column_2' : ['a', 'b', 'c']
    })

example_dataframe

   column_1 column_2
0         5        a
1         4        b
2         3        c

In [5]:
# Read the iris dataset from a CSV file
df = pd.read_csv('project_files/iris.csv')

# Print data type for df
print( type(df) )

<class 'pandas.core.frame.DataFrame'>

## II. Pandas Series are like single columns.

In [7]:
# Display the first 5 rows of the dataframe
df.head()

   sepal_length  sepal_width  petal_length  petal_width species
0           5.1          3.5           1.4          0.2  setosa
1           4.9          3.0           1.4          0.2  setosa
2           4.7          3.2           1.3          0.2  setosa
3           4.6          3.1           1.5          0.2  setosa
4           5.0          3.6           1.4          0.2  setosa

In [9]:
# Shape of dataframe
print( df.shape)

(150, 5)

In [11]:
# Number of rows (these are equivalent)
print( len(df) )
print( df.shape[0] )

150
150

In [13]:
print (df.min() )

sepal_length       4.3
sepal_width        2.0
petal_length       1.0
petal_width        0.1
species         setosa
dtype: object

In [15]:
print (df.max() )

sepal_length          7.9
sepal_width           4.4
petal_length          6.9
petal_width           2.5
species         virginica
dtype: object

In [17]:
# Display summary statistics for each variable
df.describe()

       sepal_length  sepal_width  petal_length  petal_width
count    150.000000   150.000000    150.000000   150.000000
mean       5.843333     3.057333      3.758000     1.199333
std        0.828066     0.435866      1.765298     0.762238
min        4.300000     2.000000      1.000000     0.100000
25%        5.100000     2.800000      1.600000     0.300000
50%        5.800000     3.000000      4.350000     1.300000
75%        6.400000     3.300000      5.100000     1.800000
max        7.900000     4.400000      6.900000     2.500000

In [19]:
integer_series = pd.Series([0, 1, 2, 3, 4])
print( integer_series )
print( type(integer_series) )

0    0
1    1
2    2
3    3
4    4
dtype: int64
<class 'pandas.core.series.Series'>

In [21]:
# Way 1
print( type(df.petal_length) )

# Way 2
print( type(df['petal_length']) )

# Check that both ways are identical
print( all(df.petal_length == df['petal_length']) )

<class 'pandas.core.series.Series'>
<class 'pandas.core.series.Series'>
True

In [23]:
# First 5 values of petal length
print( df.petal_length.head() )

# Minimal sepal length
print( 'The minimum petal length is', df.petal_length.min() )

# Maximum sepal length
print( 'The maximum petal length is', df.petal_length.max() )

0    1.4
1    1.4
2    1.3
3    1.5
4    1.4
Name: petal_length, dtype: float64
The minimum petal length is 1.0
The maximum petal length is 6.9

In [25]:
# Print unique species
print( df.species.unique() )

['setosa' 'versicolor' 'virginica']

In [29]:
# Pandas
print( df.petal_length.median() )

# NumPy
import numpy as np
print( np.median( df.petal_length ) )

4.35
4.35

In [31]:
# Create new petal area feature
df['petal_area'] = df.petal_width * df.petal_length

# Display first 5 elements of new petal_area feature
df['petal_area'].head()

0    0.28
1    0.28
2    0.26
3    0.30
4    0.28
Name: petal_area, dtype: float64

## III. Boolean masks allow you to filter data.

In [37]:
list_mask = [True, True, False, True]
series_mask = pd.Series([True, True, False, True])
print( series_mask )

0     True
1     True
2    False
3     True
dtype: bool

In [39]:
example_series = pd.Series([10, 5, -3, 2])
print( example_series )

0    10
1     5
2    -3
3     2
dtype: int64

In [43]:
# Create boolean mask from a condition
series_mask = example_series > 0
print( series_mask )

0     True
1     True
2    False
3     True
dtype: bool

In [45]:
# Keep only True values from the boolean mask
example_series[series_mask]

0    10
1     5
3     2
dtype: int64

In [47]:
# Keep only False values from the boolean  mask
example_series [~series_mask]

2   -3
dtype: int64

In [49]:
# Filtering Rows from DataFrames

# Display observations where petal_area > 14
df[df.petal_area > 14]

,sepal_length,sepal_width,petal_length,petal_width,species,petal_area
100,6.3,3.3,6.0,2.5,virginica,15.00
109,7.2,3.6,6.1,2.5,virginica,15.25
117,7.7,3.8,6.7,2.2,virginica,14.74
118,7.7,2.6,6.9,2.3,virginica,15.87
135,7.7,3.0,6.1,2.3,virginica,14.03
144,6.7,3.3,5.7,2.5,virginica,14.25

In [51]:
# Example boolean Series
example_mask = pd.Series([True, False, False, True, False])

# Convert boolean Series into 1/0
print( example_mask.astype(int) )

0    1
1    0
2    0
3    1
4    0
dtype: int32

In [53]:
# Create indicator variable for petal_area > 14
df['giant'] = (df.petal_area > 14).astype(int)

# Display first 5 elements of new indicator variable
df[['petal_area', 'giant']].head()

   petal_area  giant
0        0.28      0
1        0.28      0
2        0.26      0
3        0.30      0
4        0.28      0

## IV. Groupbys allow you to segment and aggregate data.

In [55]:
# Versicolor or virginica
species_mask = df.species.isin(['versicolor', 'virginica'])

# Sepal width > 3.2
sepal_width_mask = df.sepal_width > 3.2

# Index with both masks
df [species_mask & sepal_width_mask]

,sepal_length,sepal_width,petal_length,petal_width,species,petal_area,giant
56,6.3,3.3,4.7,1.6,versicolor,7.52,0
85,6.0,3.4,4.5,1.6,versicolor,7.20,0
100,6.3,3.3,6.0,2.5,virginica,15.00,1
109,7.2,3.6,6.1,2.5,virginica,15.25,1
117,7.7,3.8,6.7,2.2,virginica,14.74,1
124,6.7,3.3,5.7,2.1,virginica,11.97,0
131,7.9,3.8,6.4,2.0,virginica,12.80,0
136,6.3,3.4,5.6,2.4,virginica,13.44,0
144,6.7,3.3,5.7,2.5,virginica,14.25,1
148,6.2,3.4,5.4,2.3,virginica,12.42,0

In [57]:
# Display average measurements for each species
df.groupby('species').mean()

,sepal_length,sepal_width,petal_length,petal_width,petal_area,giant
species,,,,,,
setosa,5.006,3.428,1.462,0.246,0.3656,0.00
versicolor,5.936,2.770,4.260,1.326,5.7204,0.00
virginica,6.588,2.974,5.552,2.026,11.2962,0.12

In [59]:
# Display average measurements for each species
df.groupby('species').median()

,sepal_length,sepal_width,petal_length,petal_width,petal_area,giant
species,,,,,,
setosa,5.0,3.4,1.50,0.2,0.300,0.0
versicolor,5.9,2.8,4.35,1.3,5.615,0.0
virginica,6.5,3.0,5.55,2.0,11.445,0.0

In [61]:
# Display max measurements for each species
df.groupby('species').max()

,sepal_length,sepal_width,petal_length,petal_width,petal_area,giant
species,,,,,,
setosa,5.8,4.4,1.9,0.6,0.96,0
versicolor,7.0,3.4,5.1,1.8,8.64,0
virginica,7.9,3.8,6.9,2.5,15.87,1

In [63]:
# Display standard deviation for each species
df.groupby('species').std()

,sepal_length,sepal_width,petal_length,petal_width,petal_area,giant
species,,,,,,
setosa,0.352490,0.379064,0.173664,0.105386,0.181155,0.000000
versicolor,0.516171,0.313798,0.469911,0.197753,1.368403,0.000000
virginica,0.635880,0.322497,0.551895,0.274650,2.157412,0.328261

In [65]:
# Display min, median, max measurements for each species
df.groupby('species').agg(['min', 'median', 'max'])

           sepal_length             sepal_width             petal_length  \
                    min median  max         min median  max          min
species
setosa              4.3    5.0  5.8         2.3    3.4  4.4          1.0
versicolor          4.9    5.9  7.0         2.0    2.8  3.4          3.0
virginica           4.9    6.5  7.9         2.2    3.0  3.8          4.5

                       petal_width             petal_area                 \
           median  max         min median  max        min  median    max
species
setosa       1.50  1.9         0.1    0.2  0.6       0.11   0.300   0.96
versicolor   4.35  5.1         1.0    1.3  1.8       3.30   5.615   8.64
virginica    5.55  6.9         1.4    2.0  2.5       7.50  11.445  15.87

           giant
             min median max
species
setosa         0    0.0   0
versicolor     0    0.0   0
virginica      0    0.0   1